<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gzsendi.modules.workflow.mapper.WorkFlowRunHandlerMapper">

	<insert id="addWorkFlowRunHandler" parameterType="workFlowRunHandler">
	    insert into work_flow_run_handler(order_id,`handler`,handler_name) values (#{orderId},#{handler},#{handlerName})
	</insert>
	
	<select id="countWorkFlowRunHandler" resultType="java.lang.Integer">
		select count(1) from work_flow_run_handler where order_id = #{orderId} and handler = #{handler}
	</select>

</mapper>
